.section-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.note-content>a{
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.note-item {
    margin-bottom: .5em;
}

.notes-section {
    margin-bottom: 1.5em;
}
